main {
    height: 123vh;

    #container2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 120vh;

        p {
            font-size: 1.2rem;
        }
    
        #infoBook {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 90vh;
            border: solid var(--color2);
            border-radius: 19px;
    
            #titleForm {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 75vh;
    
                p {
                    font-size: 1.5rem;
                    color: var(--color2);
                }
            }
    
            form {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 75vh;
                height: 60vh;
    
                input {
                    width: 60vh;
                    height: 7vh;
                    border-radius: 15px;
                    border: solid var(--color2);
                    padding: 1rem;
                    font-size: 1rem;
                }
    
                button {
                    width: 12vw;
                    height: 8vh;
                    background-color: var(--color2);
                    color: var(--color1);
                    font-size: 1rem;
                    border-radius: 10px;
                    border: none;
                    transition: .3s ease-in-out;
                    cursor: pointer;
                }
    
                button:hover {
                    background-color: var(--color5);
                    transition: .3s ease-in-out;
                }
            }
        }
    }
}

#titleForm img {
    width: 4.5vw;
    height: 9vh;
}

@media (max-width: 480px) {
    main {
        #container2 {
            p {
                text-align: center;
                padding: .2rem;
            }

            #infoBook {
                width: 90vw;

                #titleForm {
                    width: 85vw;

                    img {
                        width: 14vw;
                    }

                    p {
                        font-size: 1.4rem;
                    }
                }

                form {
                    width: 90vw;

                    input {
                        width: 80vw;
                    }

                    button {
                        width: 52vw;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    main #container2 #infoBook {
        width: 90vw;

        #titleForm {
            img {
                width: 10vw;
            }
    
            p {
                font-size: 2rem;
            }
        }

        form {
            button {
                width: 25vw;
                font-size: 1.5rem;
            }
        }
    }

    @media (min-width: 800px) and (max-width: 800px) {
        main #container2 #infoBook {
            #titleForm {
                img {
                    width: 13vw;
                }

                p {
                    font-size: 2.3rem;   
                }
            }

            form {
                width: 90vw;

                input {
                    width: 80vw;
                }

                button {
                    height: 6vh;
                }
            }
        }
    }
}