* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color1: #FFFFFF;
    --color2: #005695;
    --color3: #0157944D;
    --color4: #232020;
    --color5: #156ba8;
}